{
  "baseUrl": "https://internal-api.z.ai/v1",
  "apiKey": "Z.ai",
  "chatId": "chat-XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
  "userId": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.<rest-of-jwt-token>"
}
